  <nz-layout class="employee-layout">
    <!-- Sidebar -->
    <nz-sider nzCollapsible nzWidth="220px" class="bg-gray-900 text-white">
      <div class="logo text-center text-white py-4 text-xl font-bold">
        Company
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" class="mt-4">
        <li nz-menu-item [nzSelected]="selectedView==='info'" (click)="selectView('info')">
          <span nz-icon nzType="user"></span>
          <span>Employee Info</span>
        </li>
        <li nz-menu-item [nzSelected]="selectedView==='hierarchy'" (click)="selectView('hierarchy')">
          <span nz-icon nzType="apartment"></span>
          <span>Hierarchy</span>
        </li>
        <li nz-menu-item [nzSelected]="selectedView==='settings'" (click)="selectView('settings')">
          <span nz-icon nzType="setting"></span>
          <span>Settings</span>
        </li>
        <li nz-menu-item (click)="logout()">
          <span nz-icon nzType="logout"></span>
          <span>Logout</span>
        </li>
      </ul>
    </nz-sider>
  
    <!-- Main Content -->
    <nz-layout>
      <nz-content class="main-content">
        <!-- Loading -->
        <nz-spin *ngIf="isLoading$ | async" nzTip="Loading..." class="w-full flex justify-center py-10"></nz-spin>
  
        <!-- Employee Info -->
        <div *ngIf="!(isLoading$ | async) && selectedView==='info' && employee">
          <nz-card nzHoverable [nzBordered]="true">
            <nz-card-meta
              [nzTitle]="cardTitle"
              [nzDescription]="employee.desc || ''"
              [nzAvatar]="avatarTemplate"
            ></nz-card-meta>
          </nz-card>
          <ng-template #cardTitle>
            <h2 nz-typography nzTitleLevel="1">{{ employee.firstName }} {{ employee.lastName }}</h2>
          </ng-template>
          <ng-template #avatarTemplate>
            <nz-avatar nzIcon="user" [nzSize]="64"></nz-avatar>
          </ng-template>

          <nz-descriptions nzTitle="Employee Information" [nzBordered]="true" class="mt-6">
            <nz-descriptions-item nzTitle="Name" [nzSpan]="3">
              <i nz-icon nzType="user"></i> {{ employee.firstName }} {{ employee.lastName }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Email" [nzSpan]="3">
              <i nz-icon nzType="mail"></i> <a [href]="'mailto:' + employee.email">{{ employee.email }}</a>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Entry Date" [nzSpan]="3">
              <i nz-icon nzType="calendar"></i> {{ employee.createdAt | date:'MMMM d, y' }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Salary" [nzSpan]="3">
              <i nz-icon nzType="dollar"></i> {{ employee.salary | currency }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Description" [nzSpan]="3">
              <i nz-icon nzType="file-text"></i> {{ employee.desc }}
            </nz-descriptions-item>
          </nz-descriptions>
  
          <div class="flex justify-between items-center mt-10 mb-2">
            <h3 nz-typography nzTitleLevel="4">Employees Managed</h3>
            <button nz-button nzType="primary" (click)="showAddEmployeeModal()">Add Employee</button>
          </div>
          <nz-table [nzData]="managedEmployees" [nzBordered]="true" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of managedEmployees">
                <td>{{ emp.firstName }} {{ emp.lastName }}</td>
                <td>{{ emp.role.name }}</td>
                <td><a [href]="'mailto:' + emp.email">{{ emp.email }}</a></td>
                <td>
                  <button nz-button nzType="link" nzDanger (click)="showDeleteModal(emp)">
                    <i nz-icon nzType="delete"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
  
        <!-- Hierarchy -->
        <div *ngIf="!(isLoading$ | async) && selectedView==='hierarchy'">
          <app-dashboard></app-dashboard>
        </div>
  
        <!-- Settings -->
        <div *ngIf="!(isLoading$ | async) && selectedView==='settings'" class="flex justify-center items-center">
          <nz-card class="w-full max-w-lg">
            <h2 nz-typography nzTitleLevel="2" class="text-center mb-6">Change Password</h2>
            <form nz-form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="oldPassword">Old Password</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Please enter your old password">
                  <nz-input-group [nzSuffix]="oldPasswordTpl">
                    <input [type]="oldPasswordVisible ? 'text' : 'password'" nz-input formControlName="oldPassword" id="oldPassword" />
                  </nz-input-group>
                  <ng-template #oldPasswordTpl>
                    <i nz-icon [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'" (click)="oldPasswordVisible = !oldPasswordVisible"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="newPassword">New Password</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="passwordErrorTpl">
                  <nz-input-group [nzSuffix]="newPasswordTpl">
                    <input [type]="newPasswordVisible ? 'text' : 'password'" nz-input formControlName="newPassword" id="newPassword" />
                  </nz-input-group>
                  <ng-template #newPasswordTpl>
                    <i nz-icon [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'" (click)="newPasswordVisible = !newPasswordVisible"></i>
                  </ng-template>
                  <ng-template #passwordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please enter your new password</ng-container>
                    <ng-container *ngIf="control.hasError('minlength')">Password must be at least 6 characters long</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="confirmPassword">Confirm Password</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="confirmPasswordErrorTpl">
                  <nz-input-group [nzSuffix]="confirmPasswordTpl">
                    <input [type]="confirmPasswordVisible ? 'text' : 'password'" nz-input formControlName="confirmPassword" id="confirmPassword" />
                  </nz-input-group>
                  <ng-template #confirmPasswordTpl>
                    <i nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'" (click)="confirmPasswordVisible = !confirmPasswordVisible"></i>
                  </ng-template>
                  <ng-template #confirmPasswordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please confirm your new password</ng-container>
                    <ng-container *ngIf="control.hasError('passwordMismatch')">Passwords do not match</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSm]="16" [nzXs]="24" [nzOffset]="8">
                  <nz-progress [nzPercent]="passwordStrength" [nzShowInfo]="false"></nz-progress>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSm]="16" [nzXs]="24" [nzOffset]="8">
                  <button nz-button nzType="primary" [nzLoading]="isChangingPassword" [disabled]="!changePasswordForm.valid">Change Password</button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </nz-card>
        </div>
  
        <nz-modal
          class="modal"
          [(nzVisible)]="isDeleteModalVisible"
          nzTitle="Confirm Delete"
          (nzOnOk)="confirmDelete()"
          (nzOnCancel)="cancelDelete()"
          [nzOkLoading]="isDeleting"
        >
          <p *nzModalContent>Are you sure you want to delete this employee?</p>
        </nz-modal>

        <nz-modal
          [(nzVisible)]="isAddEmployeeModalVisible"
          nzTitle="Add New Employee"
          (nzOnCancel)="cancelAddEmployee()"
          (nzOnOk)="handleAddEmployee()"
          [nzOkLoading]="isAddingEmployee"
        >
          <ng-container *nzModalContent>
            <form [formGroup]="addEmployeeForm">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName">First Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input formControlName="firstName" id="firstName" placeholder="First Name" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName">Last Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input formControlName="lastName" id="lastName" placeholder="Last Name" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">Email</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input formControlName="email" id="email" placeholder="Email" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password">Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input formControlName="password" type="password" id="password" placeholder="Password" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roleId">Role</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select formControlName="roleId" id="roleId" nzPlaceHolder="Select a role">
                    <nz-option *ngFor="let role of (roles$ | async)" [nzValue]="role.id" [nzLabel]="role.name"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="salary">Salary</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-input-number formControlName="salary" id="salary" [nzMin]="0" [nzStep]="1000"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="desc">Description</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <textarea nz-input formControlName="desc" id="desc" rows="3"></textarea>
                </nz-form-control>
              </nz-form-item>
            </form>
          </ng-container>
        </nz-modal>
      </nz-content>
    </nz-layout>
  </nz-layout>