.employee-layout {
    height: 100vh;
  }
  
  .main-content {
    overflow-y: auto;
    padding: 24px;
    background: #f0f2f5;
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  
  .text-green-600 {
    color: #16a34a;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }

  .modal{
    height: 80vh;
  }

  nz-card {
    margin-bottom: 1.5rem;
  }